
{% extends 'base.html' %}
{% block base %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>TODO</h1>

                </div>

            </div>

        </div>

    </div>

    </div>


    <div class="container">
    <div class="row">
<div class="col-md-6">
<form method="post" class="p-3 shadow">
      {% csrf_token %}
    <div class="form-group">
    task:<input type="text" name="task" class="form-control" placeholder="enter your task">
    </div>
    <div class="form-group">
    priority:<input type="text" name="priority" class="form-control" placeholder="enter your task">
    </div>
     <div class="form-group">
    date:<input type="date" name="date" class="form-control" placeholder="enter date">
    </div>

			<input type="submit" class="btn btn-success">


    </form>


</div>
    <div class="col-md-6">
        <h4>task to be completed </h4>
        {% for i in taskk %}
        <div class=" shadow card">
            <div class="card-body">
                <h5 class="card-title"> {{ i.name}}</h5>
            <p><b>    {{ i.priority }}</b></p>
                <p><b>    {{ i.date }}</b></p>
                <a class="btn btn-danger" href="{% url 'delete' i.id %}"> done</a>
                   <a class="btn btn-success" href="{% url 'update' i.id %}">update</a>

            </div>

        </div>
            <br>
{% endfor %}
    </div>
    </div>
    </div>



{% endblock %}
